.navbar {
	background: black !important;
	font-family: 'Monaco' !important;
	color: white !important;
	font-size: 24px !important;
}
.nav-link {
	color: white !important;
}
.brand {
	color: white !important;
	font-size: 36px !important;
}
.brand img {
	width: 80px;
	height: auto;
}
@media screen and (max-width: 600px) {
	.brand {
		font-size: 30px !important;
	}
}
